
@{
}

<h1>Account Details</h1>
<table class="table table-bordered table-striped">
	<tr>
		<th>Transaction</th>
		<th>Amount</th>
		<th>Balance</th>
	</tr>

	<tr>
		<td> Opening Deposit </td>
		<td>+R50 000 </td>
		<td>R50 000</td>
	</tr>
</tabl>

<div class="text-center" style="background-color: #F9F9F9">

</div>
