@{
}

<div class="text-center" style="background-color: #F9F9F9">
	<h1>How much would you like to transfer?</h1>
	<form>
		<label for="transfer_amount"></label>
		<input type="text" id="transfer_amount" name="transfer_amount"><br><br>
		

		<label for="account_from">From Account:</label>
		<select name="account_from" id="account_from">
			<option value="Current">Current Balance: R50 000</option>
			<option value="PS5">PS5 Savings Account: R50</option>
		</select>

		<label for="account_from">To Account:</label>
		<select name="account_from" id="account_from">
			<option value="Current">Current Balance: R50 000</option>
			<option value="PS5">PS5 Savings Account: R50</option>
		</select></br>

		</br><label for="transfer_reference">Your Reference: (Optional)</label>
		<input type="text" id="transfer_reference" name="transfer_reference"><br><br>

		<input type="submit" value="Submit">

	</form>

	
</div>

