@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #F9F9F9">
    <!-- going to use username user data -->
    <div class="greeting col-md-12 col-sm-6 col-xs-12 py-2">
        <h1>Welcome User</h1>
    </div>
    <div class="dashboard-container">
        <!-- widget box for navigation of major features -->
        <div class="widget-box">
            <!-- using unordered list in case time is found to make widget bar dynamic and customisable-->
            <ul class="items-container">
                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-bolt fa-xl"></i>
                        </span>

                        <p>Quick Pay</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-hands-holding fa-xl"></i>
                        </span>

                        <p>Offers for you</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-exchange fa-xl"></i>
                        </span>

                        <p>Quick Transfer</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-add fa-xl"></i>
                        </span>

                        <p>Add More</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- to access documentation -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a role="link" class="float-end" style="margin-right:10px;">
                        <!-- add icon and words here-->
                        <span style="font-size:2em" class="widget-icon">
                            <i class="fa-solid fa-file "></i>
                        </span>
                        <p>Statments and Documents Here</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- accounts container, will contain accounts details, and then later possibly rewards, insurance, investments etc-->
        <div class="accounts">
            <div class="account-widget Bank">
                <!-- Everyday Banking Heading -->
                <div style="background-color:#FFFFFF; class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row align-items-center">
                                <div class="col-sm-4 d-flex align-items-center" style="display: flex; gap:10px;">
                                        <i class="fa-solid fa-wallet"></i>                                                           
                                    <div>
                                        <h5>Everyday Banking</h5>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <h5>Current Balance</h5>
                                </div>

                                <div class="col-sm-4">
                                    <h5>Available Balance</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 visible-lg">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <!-- List of accounts -->
                <div style="background-color:#FFFFFF; class="container-fluid">
                    <div class="row" asp-controller="Accounts" asp-action="Info" role="button" onclick="location.href='@Url.Action("Info", "Accounts")'">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="my-o">Current</p>
                                    <p style="color:#A7A8AA; font-size:0.8em; margin-top:-20px;">12345678910</p>
                                </div>

                                <div class="col-sm-4">
                                    R500
                                </div>

                                <div class="col-sm-4">
                                    R500 000
                                </div>
                            </div>
                        </div>

                        <!-- Account Transaction Options -->
                        <div class="col-lg-3 visible-lg" style="display:flex; gap:20px">
                            <div class="item-contain">
                                <span class="widget-icon">
                                    <i class="fa-solid fa-credit-card fa-s"></i>
                                </span>

                                <p>Pay</p>
                            </div>

                            <a asp-controller="Accounts" asp-action="Transfer" class="item-contain" style="text-decoration: none; cursor: pointer;">
                                <div class="item-contain">
                                    <span class="widget-icon">
                                        <i class="fa-solid fa-exchange fa-s"></i>
                                    </span>

                                    <p>Transfer</p>
                                </div>
                            </a>

                            <div class="item-contain">
                                <span class="widget-icon">
                                    <i class="fa-solid fa-shopping-cart fa-s"></i>
                                </span>

                                <p>Buy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
